@import ../../styles/helpers

.section
    overflow: hidden
    margin-bottom: 64px

.wrapper
    position: relative

.title
    margin-top: 128px
    margin-bottom: 64px
    +m
        margin-bottom: 48px

.inner
    margin: 0 -16px
    +m
        margin: 0 -8px 

.card
    display: flex
    flex-direction: column
    &:hover
        .control
            visibility: visible
            opacity: 0.4